;; shadow-cljs configuration
{:source-paths ["src/main" "src/test"]

 :dependencies [; core:
                [reagent "1.2.0"]
                [re-frame "1.3.0-rc2"]
                [net.dhleong/archetype "0.1.0-SNAPSHOT"]

                ; style/ui/ux:
                [net.dhleong/spade "2.1.0-SNAPSHOT"]
                [net.dhleong/santiago "0.1.0-SNAPSHOT"]

                ; input processing
                [instaparse "1.4.12"]
                [re-pressed "0.3.2"]
                [metosin/spec-tools "0.10.5"]
                [org.clojure/core.match "1.0.1"]

                ; util:
                [applied-science/js-interop "0.2.7"]
                [com.cemerick/url "0.1.1"]
                [com.cognitect/transit-cljs "0.8.280"]
                [dev.weavejester/medley "1.7.0"]
                [funcool/promesa "11.0.671"]
                [re-frame-utils "0.1.0"]
                [com.rpl/specter "1.1.4"]
                [org.clojure/test.check "1.1.1"]

                ; dev tools:
                [cider/cider-nrepl "0.24.0"]
                [refactor-nrepl "2.5.0"]]

 :builds {:app {:target :esm
                :output-dir "public/js"
                :asset-path "/js"

                :js-options {:js-provider :import}

                ; :js-options {:js-provider :external
                ;              :external-index "public/js/imports.js"
                ;              :external-index-format :esm}

                :module-loader true
                :modules {:main {:init-fn atc.core/init
                                 :depends-on #{:shared}}
                          :shared {}
                          :atc.speech.enhanced {:exports
                                                {init atc.speech.enhanced/init
                                                 speak atc.speech.enhanced/speak}
                                                :depends-on #{:shared}}
                          :atc.data.airports.kjfk
                          {:exports {exports atc.data.airports.kjfk/exports}
                           :depends-on #{:shared}}}}

          :ci {:target :karma
               :output-to "target/ci.js"}}}
