{:linters {:unresolved-symbol {:exclude [goog.DEBUG]}

           :unresolved-var {:exclude [gloss.core/ordered-map
                                      gloss.core/compile-frame

                                      ; Not sure why kondo can't find this right now:
                                      re-frame.interceptor/update-effect

                                      ; Or these:
                                      shadow.lazy/ready?
                                      shadow.lazy/load]}

           :unused-private-var {:exclude [cljs-atc.views.error-boundary/clear-errors]}}

 ; Ignore this for now as there's no apparent way to handle
 ; clojure-lsp/unused-public-var correctly...
 :ignore [:redundant-ignore]

 ; Not ideal, but... fine I guess?
 :config-in-call {secretary.core/defroute {:ignore [:syntax]}}

 :lint-as {applied-science.js-interop/defn clojure.core/defn
           applied-science.js-interop/let clojure.core/let
           applied-science.js-interop/fn clojure.core/fn

           com.rpl.specter/defcollector clojure.core/defn
           com.rpl.specter/defdynamicnav clojure.core/defn
           com.rpl.specter/defmacroalias clojure.core/def
           com.rpl.specter/defnav clojure.core/defn
           com.rpl.specter/defrichnav clojure.core/defn

           garden.def/defcssfn clojure.core/declare

           gloss.core/defcodec clojure.core/def
           instaparse.core/defparser clojure.core/def
           reagent.core/with-let clojure.core/let
           secretary.core/defroute clojure.core/fn

           atc.util.instaparse/defalternates clojure.core/def
           atc.util.instaparse/defalternates-expr clojure.core/def
           atc.util.instaparse/defrules clojure.core/def

           atc.util.lazy/loadable clojure.core/ns}}

