{:linters {:unresolved-symbol {:exclude [goog.DEBUG
                                         (spade.core/defattrs [at-media])
                                         (spade.core/defclass [at-media])
                                         (spade.core/defglobal [at-media])
                                         (spade.core/defkeyframes [at-media])
]}

           :unresolved-var {:exclude [gloss.core/ordered-map
                                      gloss.core/compile-frame]}

           :unused-private-var {:exclude [cljs-atc.views.error-boundary/clear-errors]}}
 :lint-as {applied-science.js-interop/defn clojure.core/defn
           applied-science.js-interop/let clojure.core/let
           applied-science.js-interop/fn clojure.core/fn
           gloss.core/defcodec clojure.core/def
           instaparse.core/defparser clojure.core/def
           promesa.core/let clojure.core/let
           promesa.core/loop clojure.core/loop
           promesa.core/plet clojure.core/let
           promesa.core/recur clojure.core/recur
           reagent.core/with-let clojure.core/let
           secretary.core/defroute clojure.core/fn
           spade.core/defattrs clojure.core/defn
           spade.core/defclass clojure.core/defn
           spade.core/defglobal clojure.core/def
           spade.core/defkeyframes clojure.core/defn}}

